<section class="about vcard">
  <img src="http://www.gravatar.com/avatar/d72e758af6c2511728d5d78848774404.png" alt="photo" class="photo" />
  <h1>Bill Ingram</h1>
  <p>A web application developer and designer, delivering frontend UI &amp; backend systems software for scholarly communication, digital preservation and institutional repository services.</p>
  <h3>Contact Me</h3>
  <dl id="contact">
    <dt>Name</dt>
    <dd><a class="fn url" href="http://bill-ingram.com/">Bill Ingram</a> / <a class="nickname" href="https://plus.google.com/112120275257508476932/about">waingram</a> / <a class="nickname" href="http://twitter.com/#!/sudobear">sudobear</a></dd>

    <dt>Email</dt>
    <dd class="email"><a href="mailto:waingram@gmail.com">waingram@gmail.com</a></dd>

    <dt>Voice</dt>
    <dd class="tel">+1 (217) 689-1453</a></dd>
  </dl>
  <a href="http://www.linkedin.com/in/waingram"><img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View William Ingram's profile on LinkedIn"></a>
</section>
